.features__card {
	display: flex;
	flex-direction: row;
	gap: 0.625rem;
	justify-content: flex-start;
	align-items: center;
	width: 18.75rem;
	height: 9.375rem;
}

.features__text {
	color: var(--text);
	text-align: start;
}
