@import '../../../global/mixins/mixins.scss';
.features {
	&__card {
		@include flex(row, 0.625rem, flex-start, center);
		width: 18.75rem;
		height: 9.375rem;
		cursor: default;
	}
	&__text {
		color: var(--text);
		text-align: start;
	}
}
