.form{
    @include flex(column, 2rem, center, center);
    width: 100%;
    max-width: 24rem;
    &__button{
        border: 1px solid var(--primary);
        color: var(--primary);
    }
    &__formContainer{
        @include flex(column, 2rem, center, center);
    }
}
.textarea{
    background-color: var(--accent);
    color: var(--bg);
    border-radius: 1rem;
    width: 18.75rem;
    padding: 1rem 2rem;
    &::placeholder{
        color: var(--bg);
    }
}