.footer__brand {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 0; }

.footer__social {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center; }
