.Home__header {
  background-image: url("/assets/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 6.25rem; }

.Home__section {
  padding: 1rem; }
