.Home {
	&__header {
		background-image: url('/public/assets/img/bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		padding-top: 6.25rem;
	}
	&__section {
		padding: 1rem;
	}
}
