@import '../../../global/mixins/mixins.scss';
.navbar{
    &__brandContaienr{
        @include flex(row, 0.625rem, center, center);
        padding: 0.625rem 0rem;
        max-width: 25rem;
        width: 100%;
        cursor: pointer;
    }
    &__brandText{
        color: var(--text);
    }
}