.hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  cursor: default; }
  .hero__carrousel {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: start;
    align-items: center;
    position: relative;
    text-align: center;
    width: 100%;
    min-width: 16rem;
    max-height: 35rem;
    max-width: 35rem;
    min-height: 16rem; }
  .hero__img {
    width: 100%;
    min-width: 16rem;
    max-height: 25rem;
    max-width: 25rem;
    min-height: 16rem;
    border-radius: 1rem; }

@media (min-width: 500px) {
  .hero__brandCollection {
    font-size: 3.5rem; } }

@media (min-width: 750px) {
  .hero {
    padding-left: 3rem;
    flex-direction: row-reverse; }
    .herocarrousel {
      max-width: 40rem;
      max-height: 40rem; }
    .hero__img {
      max-width: 30rem;
      max-height: 30rem; } }

@media (min-width: 1200px) {
  .hero {
    padding-left: 6rem;
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse; }
    .hero__carrousel {
      max-width: 50rem;
      max-height: 50rem; }
    .hero__img {
      max-width: 40rem;
      max-height: 40rem; }
    .hero__brandCollection {
      font-size: 4rem; } }
