.navbar{
    &__menuLinkActiveContainer{
        @include flex(row, 0.625rem, center, center);
        padding: 0.625rem;
    }
    &__menuLinkActiveText{
        color: var(--text);
        cursor: pointer;
    }
}