.button {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer; }

.btnContainer {
  width: fit-content; }
