.up {
	@include flex(row, 0, center, center);
	border-radius: 100%;
	height: 3rem;
	width: 3rem;
	background-color: var(--primary);
	position: fixed;
	top: 90%;
	left: 95%;
	transform: translate(-90%, -90%);
	transition: opacity 0.5s ease;
	&__icon {
		width: 3rem;
	}
}
