.info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: start;
  padding: 2rem 0 2rem 2rem;
  background-color: var(--primary);
  border-radius: 1rem;
  width: 100%;
  min-width: 20rem;
  max-width: 25rem;
  max-height: 25rem; }
  .info__text {
    color: var(--bg);
    cursor: default; }
  .info__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: start;
    width: 100%; }
  .info__content {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: start;
    align-items: center; }

@media (min-width: 890px) {
  .info {
    position: absolute;
    right: 0; } }
