.carShop {
	@include flex(column, 0.5rem, center, start);
	width: 100%;
	padding: 1rem;
	width: 18rem;
	background-color: var(--bg);
	position: absolute;
	top: 100%;
	left: 100%;
	transform: translate(-100%, 0%);
	border-radius: 0 0 1rem 1rem;
	&__item {
		@include flex(row, 0.5rem, space-between, center);
		min-width: 16rem;
		text-align: center;
	}
	&__img {
		border-radius: 100%;
		width: 3rem;
		height: 3rem;
	}
	&__name {
		font-size: 0.75rem;
	}
	&__quantityItem {
		@include flex(column, 0, center, center);
		max-width: 3rem;
	}
	&__input {
		max-width: 3rem;
		text-align: center;
	}
	&__quantityController {
		@include flex(row, 0, center, center);
	}
	&__button {
		border: 1px solid var(--primary);
		color: var(--primary);
		&:hover {
			background-color: var(--primary);
			color: var(--bg);
		}
	}
	&__empty {
		font-size: 0.75rem;
		font-style: italic;
	}
}
